body {
  min-width: 700px;
  max-width: 850px;
  display: block;
  margin: 0 auto;
  background-color: #292c33;
  font-size: smaller;
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-size: 100px;
  margin-bottom: 10px;
}

h6 {
  font-weight: lighter;
  font-size: xx-small;
  color: lightgray;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}

.contact h2 {
  margin-bottom: 150px;
}

.slideshow-container {
  margin: 30px;
}

.mySlides {
  text-align: center;
  color: white;
}

.intro {
  margin-top: 100px;
}

.contact {
  margin-top: 100px;
}

.contact-me {
  text-align: center;
  width: 150px;
}

.twitter {
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: #5fa1d3;
}

.link:hover {
  text-decoration: underline;
  color: #5fa1d3;
}

.directionals {
  position: absolute;
  width: 98%;
  left: 8px;
  right: 8px;
  bottom: 5px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: #5fa1d3;
}

.all-dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}

img {
  width: 200px;
  border-radius: 2%;
}

iframe {
  border-radius: 2%;
  margin-bottom: 10px;
}
