:root {
  --heading-font: "Fjalla One", sans-serif;
  --content-font: "Roboto Condensed", sans-serif;
  --primary-color: white;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  background-color: #292c33;
  color: var(--primary-color);
  font-family: var(--content-font);
  overflow-x: hidden;
}
h1,
h2 {
  font-family: var(--heading-font);
}
h2,
.title {
  font-size: 5vw;
  text-align: center;
}
hr {
  background-color: var(--primary-color);
}
a:hover {
  text-decoration: none;
}

.logo {
  content: url("/media/logo/logo.png");
  background-repeat: no-repeat;
  width: 40px;
}
.logo:hover {
  content: url("/media/logo/active-logo.png");
  background-repeat: no-repeat;
  width: 40px;
}
.container {
  margin-top: 120px;
}

.hero h1 {
  font-size: 10vw;
}
.card-img {
  opacity: 1;
  transition: 0.5s ease;
}
.card-img-overlay {
  transition: 0.5s ease;
  opacity: 0;
  padding: 0px;
}
.card:hover .card-img-overlay {
  opacity: 1;
}

.skills-img {
  width: 5vw;
}

.contact-icon {
  color: var(--primary-color);
}
.contact-icon:hover {
  color: inherit;
}

.col-wrap {
  margin: 3%;
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 120px;
  }
  .hero h2 {
    font-size: 50px;
  }
  .title {
    font-size: 75px;
  }

  .side-nav {
    padding-top: 50px;
    position: fixed;
    float: left;
  }
}
